@define-color base   #0d0d11;
@define-color mantle #0d0d11;
@define-color text   #e4e2d4;
@define-color accent #AEB1B0;
@define-color cyan   #D9C695;

* {
    font-family: "JetBrainsMono Nerd Font";
    transition: all 0.2s ease;
}

window, .blank-window, .control-center-window {
    background-color: transparent;
}

.control-center {
    background-color: @base;
    border: 2px solid @accent;
    border-radius: 12px;
    padding: 10px;
}

.widget-title {
    color: @cyan;
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 5px;
}

.widget-title > button {
    font-size: 0.9rem;
    color: @text;
    background: transparent;
    border: 1px solid rgba(189, 147, 249, 0.3);
    border-radius: 6px;
    padding: 4px 10px;
}

.widget-title > button:hover {
    background: rgba(189, 147, 249, 0.2);
    border-color: @accent;
    color: @cyan;
}

.widget-dnd {
    color: @text;
    margin: 5px 10px 15px 10px;
}

.widget-dnd > switch {
    background: @mantle;
    border-radius: 10px;
}

.widget-dnd > switch:checked {
    background: @accent;
}

.notification-row {
    outline: none;
}

.notification-content {
    background: @mantle;
    border-radius: 8px;
    padding: 15px;
    margin: 5px 10px;
    border: 1px solid transparent;
}

.notification-content:hover {
    border-color: rgba(189, 147, 249, 0.4);
}

.close-button {
    background: transparent;
    color: @text;
    border-radius: 5px;
}

.close-button:hover {
    background: #f38ba8;
    color: @base;
}
